 body {
     background-color: #EAF6F6;
   }
   hr {
     border-style: none;
     border-top: dotted;
     border-width: 10px;
     border-color: white;
     width: 10%;
   }

   img {
     height: 400px;
     width: 300px

   }
